<footer class="row flex-shrink-0 py-2 px-3">
  <div class="container">
    <p class="w-100 mb-0">© {{currentYear}} KPMG AG Wirtschaftsprüfungsgesellschaft, a subsidiary of KPMG Europe LLP and a member firm of the KPMG network of independent member firms affiliated with KPMG International Cooperative (“KPMG International”), a Swiss entity. All rights reserved. The KPMG name, logo and “cutting through complexity” are registered trademarks or trademarks of KPMG International.</p>
    <ul class="footer-links m-0 p-0 w-100">
      <li><a href="http://www.kpmg.com/Global/en/Pages/onlinedisclaimer.aspx" target="_blank">Legal</a></li>
      <li><a href="http://www.kpmg.com/Global/en/Pages/privacy.aspx" target="_blank">Privacy</a></li>
    </ul>
  </div>
</footer>
