DECLARE @TableSchema NVARCHAR(128);
DECLARE @TableName NVARCHAR(128);

DECLARE @COLUMN_NAME NVARCHAR(128) = N'IdColumn' 
DECLARE @COLUMN_DATATYPE NVARCHAR(128) = N'int identity (1,1)' 


DECLARE CURSORIdColumn CURSOR FOR
  SELECT TABLE_SCHEMA,
         TABLE_NAME
  FROM   INFORMATION_SCHEMA.TABLES
  WHERE  TABLE_TYPE = 'BASE TABLE'and TABLE_NAME LIKE 'cg_meta%' AND TABLE_NAME <> 'cg_meta_version' AND COL_LENGTH(TABLE_SCHEMA + '.' + TABLE_NAME, @COLUMN_NAME) IS NULL;


OPEN CURSORIdColumn;

FETCH NEXT FROM CURSORIdColumn INTO @TableSchema, @TableName;

WHILE @@FETCH_STATUS = 0
BEGIN

  DECLARE @SQL NVARCHAR(600) = N'ALTER TABLE [' + @TableSchema + N'].[' + @TableName + N'] ADD [' + @COLUMN_NAME + N'] '+@COLUMN_DATATYPE
  PRINT @SQL
  EXEC (@SQL)   
  
  FETCH NEXT FROM CURSORIdColumn INTO @TableSchema, @TableName;
END

CLOSE CURSORIdColumn;
DEALLOCATE CURSORIdColumn;