<div class="container">
  <app-secondary-header class="row" [mainTitle]="mainTitle"></app-secondary-header>

  <form [formGroup]="deleteConfigurationForm" (ngSubmit)="deleteConfiguration()" action="#">
    <div class="row">
      <div class="xml-border col-md-12 mb-4">
        <div class="col-md-6 px-0">
          <div class="mb-4">Select the Configuration(s) you want to delete:</div>
          <app-search-select
            class="search-select-default-hight d-block"
            [formControl]="collectConfigurationsCTR"
            multiple="true"
            [errorSet]="delete_configuration_errors.templateCgMetaConfigurationIdColumn"
          >
            <app-search-select-option
              *ngFor="let configuration of configurations"
              [value]="configuration.id"
              [searchValue]="configuration.configurationName"
              >{{ configuration.configurationName }}</app-search-select-option
            >
          </app-search-select>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <app-sticky-footer>
      <app-xml-button whiteTheme="true" routerLink="/xml-data-maintenance/configurations-variants" class="mr-3"
        >Back</app-xml-button
      >
      <app-xml-button [isSubmit]="true" (click)="deleteConfiguration()">Delete</app-xml-button>
    </app-sticky-footer>
  </div>
</div>
