<nav class="navbar navbar-expand-lg navbar-dark bg-dark row mb-4">
  <div class="container">
    <span alt="KPMG" class="navbar-brand m-0 logo-svg logo-svg-white" style="font-size: 6em;"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link pb-1 ml-5" [routerLink]="['/']">Connection</a></li>
      </ul>
    </div>
  </div>
</nav>
