<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="KPMG.DE.NuGet" value="http://proget.de.kworld.kpmg.com/nuget/KPMG.DE.NuGet" />
        <add key="KPMG.DE.RefArc.NuGet" value="http://proget.de.kworld.kpmg.com/nuget/KPMG.DE.RefArc.NuGet" />
    </packageSources>
</configuration>